body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Header */
.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 30px 0 0;
}

.header-link {
    color: white;
    text-decoration: none;
}

.header-logo {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 38px;
    display: inline-block;
}

.header-logo-on {
    color: var(--color-main);
}

.header-logo-slogan {
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
}

.header-menu {
    margin-top: 10px;
    float: right;
}

.header-menu-link {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}
.header-menu-link:hover {
    color: var(--color-main);
}
/* Footer */
.footer {
    background: black;
    color: white;
    clear: both;
    float: left;
    width: 100%;
}
.footer-content {
    padding: 70px 0;
    float: left;
    width: 100%;
}
.footer-col {
    width: 40%;
    float: left;
}
.footer-col:nth-child(odd) {
    width: 30%;
}
.social-link {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
.social-link li {
    display: inline-block;
    font-size: 30px;
}
.social-link li a {
    color: white;
    padding: 10px;
}
.social-link li a:hover {
    color: var(--color-main);
}
.footer-news label {
    font-size: 14px;
    text-transform: lowercase;
    float: left;
    margin-right: 20px;
    margin-top: 5px;
}
.footer-news input {
    border: 0;
    background: var(--color-main);
    padding: 0 15px;
    height: 48px;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    float: left;
}
.footer-news button {
    border: 0;
    border-radius: 0;
    background: white;
    height: 48px;
    padding: 0 15px;
    font-size: 25px;
    float: left;
    cursor: pointer;
}
.footer-copyright {
    clear: both;
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
}
.footer-copyright span {
    color: var(--color-main);
}

/* Buttons */
.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid;
    padding: 12px 30px;
    border-radius: 30px;
}
.btn1 {
    border-color: white;
    color: var(--color-main);
}
.btn1:hover {
    background-color: var(--color-main);
    color: black;
    border-color: var(--color-main);
}
.btn2 {
    border-color: var(--color-main);
    background-color: var(--color-main);
    color: white;
}
.btn2:hover {
    background: white;
    color: black;
}
.btn3 {
    background: white;
    border-color: black;
    color: black;
}
.btn3:hover {
    background: var(--color-main);
}
